@import url('https://fonts.googleapis.com/css?family=Raleway|Lato|Poppins');

body {
  background: #f9f9e1;
}

.navbar {
  background: #f8874f;
  font-family: "Raleway";
  font-size: 1.25em;
  font-weight: 700;
}

.navbar-brand {
  font-size: 1.4em;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #fbc3a7;
  color: #f4f4f4;
}

.navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

.recipe-list {
  margin: 5em 0;
  position: relative;
}

.card {
  background: #f2efd1;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.card:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

.card .img {
  width: 1.5em;
  height: 1.5em;
}

.card-title {
  color: #f97300;
  font-family: "Lato";
}

.card-subtitle {
  color: #63361f;
  font-family: "Lato";
}

.card-body {
  padding: 1em;
  font-family: "Lato";
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form {
  width: 40vw;
  height: 100%;
}

.modal {
  font-family: "Poppins";
}

.btn,
.img,
.navbar-brand,
.nav-link {
  cursor: pointer;
}